@if(country) {
<div class="flex flex-col gap-4">
  <div
    class="flex gap-8 sm:gap-0 flex-col sm:flex-row justify-between items-start sm:items-center"
  >
    <button class="flex gap-1 items-center" [routerLink]="'/by-capital'">
      <lucide-icon
        [img]="chevronLeftIcon"
        class="size-5 text-gray-700"
      ></lucide-icon>
      <span class="text-sm text-gray-700"> Go Back </span>
    </button>
    <h1 class="max-sm:ml-5 text-2xl font-semibold">
      {{ country.name.common }}
    </h1>
  </div>
  <div class="flex flex-col sm:flex-row bg-gray-100 rounded-xl p-5">
    <div class="flex flex-row sm:flex-col justify-between sm:items-center gap-2">
      <img
        [src]="country.flags.svg"
        [alt]="[country.name.common, 'flag']"
        class="w-28 rounded-lg shadow-lg"
      />
      <div class="flex flex-col">
        <span class="text-lg font-medium sm:mt-3 break-all">{{ country.capital }}</span>
        <div class="flex items-center gap-2">
          <lucide-icon
            [img]="usersRoundIcon"
            class="text-gray-400 size-4 sm:size-5"
          ></lucide-icon>
          <span class="text-sm sm:text-base leading-5 text-gray-400">{{
            country.population | number
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
} @else {
<div class="p-4">Loading...</div>
}
