<div class="flex">
  <button
    routerLink="/by-capital"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLinkActive]="['border-gray-900', '!text-gray-900']"
    class="__tab"
  >
    Capital
  </button>
  <button
    routerLink="/by-country"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLinkActive]="['border-gray-900', '!text-gray-900']"
    class="__tab"
  >
    Country
  </button>
  <button
    routerLink="/by-region"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLinkActive]="['border-gray-900', '!text-gray-900']"
    class="__tab"
  >
    Region
  </button>
</div>
